.header {
  height: 100vh;

  &__body {

  }

  &__menu {
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-top: 51px;
  }

}

.menu {
  text-transform: uppercase;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item:not(:last-child) {
    padding-right: 63px;
  }

  &__link {
    color: $white;
    text-decoration: none;
  }

  &__contact {

  }

  &__number {
    text-decoration: none;
    color: $white;
    position: relative;

    &:hover {
      &::after {
        content: '';
        position: absolute;
        background: $gold;
        left: 0;
        top: 24px;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease;
      }
    }
  }

}
